&arduino_i2c {
	status = "okay";

	drv2605l: drv2605l@5a {
		compatible = "ti,drv2605";
		reg = <0x5a>;
		actuator-mode = "ERM";
	};
};

/ {
	aliases {
		vision-red = &vision_red;
		vision-green = &vision_green;
		vision-blue = &vision_blue;
		power-led1 = &power_led1;
		power-led2 = &power_led2;
		power-led3 = &power_led3;
		power-led4 = &power_led4;
	};

	leds {
		compatible = "gpio-leds";

		vision_red: vision_red {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "Vision RGB Red";
		};

		vision_green: vision_green {
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			label = "Vision RGB Green";
		};

		vision_blue: vision_blue {
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			label = "Vision RGB Blue";
		};
	};
	power_leds {
		compatible = "gpio-leds";

		power_led1: power_led_1 {
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			label = "Power LED 1";
		};

		power_led2: power_led_2 {
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
			label = "Power LED 2";
		};

		power_led3: power_led_3 {
			gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
			label = "Power LED 3";
		};

		power_led4: power_led_4 {
			gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
			label = "Power LED 4";
		};
	};
};

&arduino_i2c {
	status = "okay";

	drv2605l: drv2605l@5a {
		compatible = "ti,drv2605";
		reg = <0x5a>;
		actuator-mode = "ERM";
	};
};
&pinctrl {
    camera_spi_default: camera_spi_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 8)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 7)>,
                    <NRF_PSEL(SPIM_MISO, 1, 6)>;
        };
    };

    camera_spi_sleep: camera_spi_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 8)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 7)>,
                    <NRF_PSEL(SPIM_MISO, 1, 6)>;
            low-power-enable;
        };
    };
};

&spi4 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&camera_spi_default>;
    pinctrl-1 = <&camera_spi_sleep>;
    pinctrl-names = "default", "sleep";

};
